body{
    margin: 0%;
    padding: 0%;
    background-color:rgb(167, 175, 92) ;
}
.box1{
    display: block-flex ;
    border-right:4px rgb(156, 76, 0) solid;
    width: 300px;
    height: 630px;
    margin-top: 1%;
}
.box1 h1{
position: absolute; left: 1%; top: 47%;
color: indigo;
font-size: 35px;
margin:0%;
}
.box1 h2{
    position: absolute;left: 12%;top: 50%;
    font-size: 15px;
}
.box1 h3{
    position: absolute;left: 1%; top: 70%;
}
.box1 img{
    width: 200px;
    margin-left: 7%;
    height: 250px;
    border-radius: 50%;
    
}
.box2{
    display: inline-flex;
    border: 3px groove rgb(2, 219, 208);
    position: absolute; left: 25%; bottom: 58%;
    height: 250px;
    width: 600px;
}
.box3{
    display: inline-flex;
    border: 3px dashed rgb(2, 219, 208);
    height: 270px;
    width:600px ;
    position: absolute;left: 25%; bottom: 7%;
}
.box4{
    display: block-flex;
    border-left: 4px solid rgb(156, 76, 0);
    position: absolute;left: 72%; bottom:2%;
    height: 630px;
    width: 300px;
}
.box2 h1{
    position: absolute;left: 30%;
    font-family: cursive;
    color: rgb(126, 0, 0);
    
}
.box2 h2{
    font-size: 17px;
    position: absolute;bottom: 20%;
    column-count: 2;
}
.box3 h1{
    position: absolute;left: 30%;
    color: rgb(26, 2, 92);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.box3 h2{
    font-size: 18px;
    position: absolute;bottom: 5%;
    column-gap: 2px;
}
.box4 h1{
    text-align: center;
    color: rgb(117, 0, 82);
    font-family: fantasy;
    font-size: 30px;
}
.box4 h2 {
    font-size: 20px;
}
.box4 h3{
    text-align: center;
    color: rgb(100, 53, 0);
    font-size: 30px;
    font-family: sans-serif;
}
.box4 h4{
    font-weight: 600;
    font-size: 18px;
    columns: 2;
    margin-left: 6%;
}